<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>key</key>
			<string>31</string>
			<key>imagename</key>
			<string>item_09</string>
			<key>title</key>
			<string>零首付</string>
		</dict>
		<dict>
			<key>key</key>
			<string>32</string>
			<key>imagename</key>
			<string>item_010</string>
			<key>title</key>
			<string>短拆过桥</string>
		</dict>
		<dict>
			<key>key</key>
			<string>33</string>
			<key>imagename</key>
			<string>item_011</string>
			<key>title</key>
			<string>信用卡相关</string>
		</dict>
		<dict>
			<key>key</key>
			<string>34</string>
			<key>imagename</key>
			<string>item_012</string>
			<key>title</key>
			<string>其他</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>item_26</string>
			<key>title</key>
			<string>甩单</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>item_22</string>
			<key>title</key>
			<string>交流会</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>item_27</string>
			<key>title</key>
			<string>求职</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>item_23</string>
			<key>title</key>
			<string>车价评估</string>
		</dict>
	</array>
</array>
</plist>
